<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mp_bluetooth_module">
    <!-- Permission for the application to use bluetooth -->
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="Background_Items.Notification_Channel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MP_Bluetooth_Module.NoActionBar">
        <activity
            android:name=".On_Click_Notification_Display"
            android:exported="false" />
        <activity
            android:name=".Create_And_Upload_Reminder"
            android:exported="false" />
        <activity
            android:name=".Display_All_Reminders"
            android:exported="false" />
        <activity
            android:name=".Selected_Firebase_File_Display"
            android:exported="false" />
        <activity
            android:name=".Upload_File_Firebase"
            android:exported="false" />
        <activity
            android:name=".Image_Video_Album"
            android:exported="false"
            android:label="@string/title_activity_image_video_album"
            android:theme="@style/Theme.MP_Bluetooth_Module.NoActionBar" />

        <service
            android:name="Background_Items.BluetoothBackground"
            android:exported="false" />

        <activity
            android:name="Background_Items.BluetoothDeviceTextView"
            android:exported="false" />
        <activity
            android:name=".Diffuser_Listview"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="Background_Items.Reminder_Notification"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="Background_Items.Reminder_Notification" />
            </intent-filter>
        </receiver>
    </application>

</manifest>